header{
	font-family: Arial;
}

header nav{
	color: white;
}

header nav ul {
	list-style:none;
	margin:0;
	padding:0;
}

header nav ul li{
	margin:0;
	padding:0;
	float:left;
	width:355px;
	height:40px;
	background-color: black;
	line-height: 40px;
	text-align: center;
}

header nav ul li a{
	display: block;
	color: white;
	text-decoration: none;
}

header nav ul li a:hover{
	background-color: grey;
	opacity:0.5;
}

header nav ul li ul li {
	display: none;
}

header nav ul li:hover ul li{
	display: block;
}

#button1 {
	width:250px;
	height:40px;
	font-family: Arial;
	color: white;
	list-style:none;
	margin:0;
	padding:0;
	float:center;
	background-color: black;
	line-height: 40px;
	text-align: center;
	text-decoration: none;

}


#contact{
	width:250px;
	height:40px;
	font-family: Arial;
	color: white;
	list-style:none;
	margin:0;
	padding:0;
	float:right;
	background-color: black;
	line-height: 40px;
	text-align: center;
	text-decoration: none;

}

a:link{
	color:white;
	text-decoration: none;
}



div.aside {
    padding:25px;
    box-sizing:border-box;
    background-color:rgb(255, 255, 255) ;
    color:rgb(0, 0, 0);
    border: 2px solid black;
    width:500px;
    float: left;
    margin:15px;
}

div.right{
    padding:25px;
    flex-grow:1;
    background-color:rgb(212, 209, 209) ;
    border: 2px solid black;
    width:900px;
    height: 500px;
    
}



#footer{
display: inline-block;
background-color: grey ;
text-align :center;
padding: 20px
color: dark;
width: 100%;
border: 2px solid black;
float:center;

}




.skills{
    width: 500px;
    margin: 60px auto;
    color: white;
}
    
.skills li{
    margin: 20px 0;
}

.bar{
    background:rgb(0, 0, 0);
    display: block;
    height: 7px;
    border: 1 px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
}

.bar span{
    height: 7px;
    float: left;
    background: rgb(126, 119, 119);
}

.programmation{
    width: 60%;
}

.office{
    width: 90%;
}

.bdd{
    width: 75%;
}

.anglais{
    width: 80%;
}

.allemand{
    width: 70%;
}